@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
    font-family: 'Outfit', sans-serif;
    line-height: 200%;
}

h1, h2 {
    font-family: 'Young Serif', serif;
}

h2 {
    color: hsl(14, 45%, 36%);
}

p {
    font-size: 16px;
}

li {
    padding-left: 15px;
    padding-bottom: 5px;
}

ul li::marker, ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

hr {
    color: hsl(30, 18%, 87%);
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr.bordered {
    border-bottom: 2px solid hsl(30, 18%, 87%);
}

#recipe-img {
    height: 350px;
    width: 650px;
    border-radius: 15px;
}

#preparation-container {
    background-color: hsl(330, 100%, 98%);
    border-radius: 5px;
    padding: 5px 10px;
}

.step-name {
    font-weight: bold;
}

#content-container {
    border: 1px solid white;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    padding: 25px 25px;
    margin: 50px;
    max-width: 650px;
}

.wenge-brown {
    font-weight: bold;
    color: hsl(30, 10%, 34%);
}